[submodule "lib/one-php-mvc"]
	path = lib/one-php-mvc
	url = https://github.com/ShadowedMists/one-php-mvc.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "lib/codes"]
	path = lib/codes
	url = https://github.com/ShadowedMists/one-php-mvc.git
[submodule "lib/bootstrap-google-plus"]
	path = lib/bootstrap-google-plus
	url = https://github.com/iatek/bootstrap-google-plus.git
